{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>All Code Snippets</h2>
    <div class="row">
        {% for snippet in snippets %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ snippet.title }}</h5>
                    <p class="text-muted">Category: {{ snippet.category.name }}</p>
                    <p>Автор: {{ snippet.developer.username }}</p>
                    <hr>
                    <pre><code>{{ snippet.content|truncatechars:100 }}</code></pre>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Not snippets yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}